body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    background-color: #325cbf;
    color: rgb(255, 148, 27);
    padding: 1em;
    width: 100%;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

section.pinboard {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pin {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 395px;
}

.pin img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.link {
    padding: 10px;
}

footer {
    background-color: #325cbf;
    color: rgb(255, 148, 27);
    padding: 1em;
    width: 100%;
}